form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }
  
  .formRow{
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
  input{
    border:none;
    flex: 1;
    outline: none;
    width: 100%;
    border-bottom: 1px solid black;
  }

  .saveBtn{
    width: fit-content;
    padding: 12px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    align-self: center;
  }
  
  html,body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1{
    text-align: center;
    padding: 20px;
  }

.allSlams{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    padding: 30px;
}

.card{
    font-family: Kalam;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.answer{
    font-family: Tillana;
    color: dodgerblue;
}