form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }
  
  .formRow{
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
  input{
    border:none;
    flex: 1;
    outline: none;
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  html,body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1{
    text-align: center;
    padding: 20px;
  }